body{
	width:1100px;
}
th:first-child{width:200px}
tr:first-child{width:200px}
th:last-child{width:200px}
tr:last-child{width:200px}
th:nth-child(middle){width:600px}
tr:nth-child(middle){width:600px}